# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variables
*.env

# Ignore database files
db.sqlite3

# Ignore static files collected by Django
staticfiles/

# Ignore log files
*.log